/*****reset CSS ****/

:root{
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color:#222
    --main-modal-color: rgba(247,222,30,0.85);
    --second-modal-color: rgba(34,34,34,0.85)
    --container-width: 1200px
    
    --form-error-color: #ff0000;
}

html{
    box-sizing: border-box;
    font-weight: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

/***menu hamburguer***/

.header{
    position:sticky;
    z-index: 997;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: #222;
    
}

.header h1{
    margin: 0 auto;
    text-align: center;
}

.section{
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height:100vh;
    text-align: center;
}

.panel{
    position: fixed;
    z-index: 998;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
    background-color: rgba(34, 34, 34, 0.85);
    transition: transform 0.3s ease, opacity 0.5s ease;
    /*de arriba*/
    /* transform: translate(0,-100%); */
    /*de abajo*/
    /* transform: translate(0, 100%); */
    /*de la derecha*/
    /* transform: translate(100%, 0); */
    /*de la izquierda*/
     transform: translate(-100%, 0); 
}

.panel.is-active{
    transform: translate(0,0); 
    /* opacity: 1; */
}

.panel-btn{
    cursor: pointer;
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    outline: 0;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.menu{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a{
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.menu a:hover{
    font-weight: bold;
    color: var(--second-color);
    background-color:var(--main-color) ;
}

.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section h2{
    letter-spacing: 0.7rem;
}

.buttons-clock button{
    border: 2px solid var(--main-color);
    width: 120px;
    margin-right: 8px ;
    border-radius: 4px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;

}

#reloj{
    font-size: 15px;
    letter-spacing: 0.2rem;
}

/***Eventos del teclado***/

.stage{
    display: flex;
    min-height: 50vh;
    background-color: #222;
    border: 1px solid var(--main-color);
    
}

.ball{
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-color);
}




#seccion3 #countdown {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
}

/**Scroll top button***/

.scroll-top-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: calc(4.25rem + 1vw);
    width: 4rem;
    height: 4rem;
    background-color: var(--main-color);
    color: #222;
    outline: 0;
    border: 0;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.4s ease-out;
}

.scroll-top-btn:hover{
    background-color: #222;
    color: var(--main-color);
}

.hidden{
    opacity: 0;
    visibility: hidden;
}

/**Dark theme button***/

.dark-theme-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: 1vw;
    width: 4rem;
    height: 4rem;
    background-color: var(--main-color);
    color: #222;
    outline: 0;
    border: 0;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.4s ease-out;
}

.dark-theme-btn:hover{
    background-color: #222;
    color: var(--main-color);
}

.dark-mode{
    background-color: #222;
    color: var(--main-color);
}

.tester{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.url,.width,.height{
    width: 30%;
    border: 1px solid var(--main-color);
    height: 22px;
    border-radius: 5px;
}

.btns{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 6px;
}

.btn-probar,.btn-cerrar{
    width: 80px;
    border: 1px solid var(--main-color);
    background-color: transparent;
    border-radius: 4px;
    height: 25px;
    cursor: pointer;
    letter-spacing: 0.1rem;
    font-size: 12px;
    font-weight: bold;
}
.btn-probar:hover,.btn-cerrar:hover{
    background-color: var(--main-color);
    
}

/***Network status**/

.online,
.offline{

position: sticky;
top: 0;
z-index: 1000;
padding: 1rem;
font-size: 1.5rem;
font-weight: bold;
text-align: center;
background-color: #1b5e20;
color: #fff;
}

.offline{
    background-color: #b71c1c;
}

.camera{
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
}

/**Search filters**/

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    
}

.card-filter{
    width: 20%;
    margin: 0 auto;
    height: 25px;
    border-radius: 4px;
    border: 2px solid #222;

}
.card{
    background-color: #222;
    color: var(--main-color);
    transition: all 0.3s ease-out;
    border-radius: 20px;
}

.card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.card figcaption{
    padding: 1rem;
}

.filter{
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    order: 1;
    
}

.players{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.draw-button{
    width: 10%;
    margin: 0 auto;
    margin-top: 16px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #222;
    background-color: transparent;
    cursor: pointer;
    background-color: var(--main-color);
   
}

.result-draw{
    margin-top: 18px; 
}

/***Responsive slider ***/

 .slider{
    position: relative;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
}

.slider-slides{
    position: relative;
    height: 400px;
}

.slider-slide{
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: hidden;
    width: 100%;
    position: absolute;
    transition: opacity 1s ease;
}

.slider-slide img{
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: 50% 0%;
}

.slider-slide.active{
    opacity: 1;
    visibility: visible;
}

.slider-btns{
    position: absolute;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    font-weight: bold;
}

.slider a{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: thin solid #000;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}

.slider a:hover{
    color: #4d4d4d;
}  

/**scroll spy**/

@media screen and (min-width:1024px){
    body{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 4rem auto;
        grid-template-areas: 
        "header header"
        "main panel";
    }

    main{
        grid-area: main;
    }

    header{
        grid-area: header;
    }
    
    .panel{
        grid-area: panel;
        position: sticky;
        top: 4rem;
        justify-content: flex-end;
        align-self: start;
        transform: translate(0,0);
        background-color: #222;
        opacity: 1;
        visibility: visible;
    }

    .panel-btn{
        display: none;
    }

    .menu{
        justify-content: start;
        text-align: right;

    }
    
    .menu a{
        font-size: 1 rem;
        padding: 0.75rem;

    }

    .menu a:hover,
    .menu a.active{
        color: #222;
        background-color: var(--main-color);
    }

    .scroll-top-btn{
        right: initial;
        left: calc(4.25rem + 1vw);
    }

}

#seccion13 video{
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

/**Contact form validations***/

/* .contact-form{
    
    margin-left:auto;
    margin-right:auto;
    width:80%
}

.contact-form > *{
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}

.contact-form textarea{
    resize: none;
}

.contact-form legend,
.contact-form-response{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}


.contact-form input,
.contact-form textarea{
    font-size: 1rem;
    font-family: sans-serif;
}

.contact-form input[type="submit"]{
    width: 50%;
    font-weight: bold;
    cursor: pointer;
}

.contact-form *::placeholder{
    color: #000;
}

input[required]:valid {
    border: thin solid green;
}

input[required]:invalid {
    border: thin solid var(--form-error-color);
}

textarea[required]:valid {
    border: thin solid green;
}

textarea[required]:invalid {
    border: thin solid var(--form-error-color);
}

.contact-form-error{
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #fff;
    transition: all 800ms ease;
}

.contact-form-error.is-active{
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
}

.none{
    display: none;
}

  @keyframes show-message{

    0%{
        visibility: hidden;
        opacity: 0;

    }

    100%{
        visibility: visible;
        opacity: 1;

    }

  } */

  /**Voice**/
 #speech-select{
    width: 50%;
    margin: 0 auto;
 }

 #speech-text{
    width: 50%;
    margin: 0 auto;
 }

 #speech-btn{
    width: 10%;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
 }




